/* font styling  */

@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poiret+One&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&family=Sekuya&family=Yusei+Magic&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding-top: 60px;
}


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 20px;
  z-index: 1000;
}

.logo {
  width: 40px;
  height: 40px;
 
}
